################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/auftragsverwaltungs-service/.vs/Auftragsverwaltung/config
/auftragsverwaltungs-service/.vs/Auftragsverwaltung/FileContentIndex
/auftragsverwaltungs-service/.vs/Auftragsverwaltung/v17
/auftragsverwaltungs-service/bin/Debug/net8.0/auftragsverwaltungs-service.dll
/auftragsverwaltungs-service/bin/Debug/net8.0/auftragsverwaltungs-service.exe
/auftragsverwaltungs-service/bin/Debug/net8.0/auftragsverwaltungs-service.pdb
/auftragsverwaltungs-service/bin/Debug/net8.0/buchhaltungs-service.dll
/auftragsverwaltungs-service/bin/Debug/net8.0/buchhaltungs-service.exe
/auftragsverwaltungs-service/bin/Debug/net8.0/buchhaltungs-service.pdb
/auftragsverwaltungs-service/obj/Debug/net8.0/ref/auftragsverwaltungs-service.dll
*.json
*.pdb
*.cache
*.editorconfig
*.dll
/auftragsverwaltungs-service/obj/Debug/net8.0/auftragsverwaltungs-service.csproj.FileListAbsolute.txt
/auftragsverwaltungs-service/obj/Debug/net8.0/auftragsverwaltungs-service.AssemblyInfo.cs
/auftragsverwaltungs-service/obj/Debug/net8.0/refint/auftragsverwaltungs-service.dll
/auftragsverwaltungs-service/obj/Debug/net8.0/apphost.exe
/buchhaltungs-service/.vs
/buchhaltungs-service/bin/Debug/net8.0/buchhaltungs-service.dll
/buchhaltungs-service/bin/Debug/net8.0/buchhaltungs-service.exe
/buchhaltungs-service/bin/Debug/net8.0/buchhaltungs-service.pdb
/buchhaltungs-service/obj/Container/ContainerDevelopmentMode.cache
/buchhaltungs-service/obj/Container/ContainerId.cache
/buchhaltungs-service/obj/Container/ContainerName.cache
/buchhaltungs-service/obj/Container/ContainerRunContext.cache
/buchhaltungs-service/obj/Debug/net8.0/ref/buchhaltungs-service.dll
/buchhaltungs-service/obj/Debug/net8.0/refint/buchhaltungs-service.dll
/buchhaltungs-service/obj/Debug/net8.0/apphost.exe
/buchhaltungs-service/obj/Debug/net8.0/buchhaltungs-service.AssemblyInfo.cs
/buchhaltungs-service/obj/Debug/net8.0/buchhaltungs-service.assets.cache
/buchhaltungs-service/obj/Debug/net8.0/buchhaltungs-service.pdb
/buchhaltungs-service/obj/buchhaltungs-service.csproj.nuget.dgspec.json
/buchhaltungs-service/obj/project.assets.json
/buchhaltungs-service/obj/project.nuget.cache
/buchhaltungs-service/obj/Debug/net8.0/buchhaltungs-service.AssemblyInfoInputs.cache
/buchhaltungs-service/obj/Debug/net8.0/buchhaltungs-service.csproj.FileListAbsolute.txt
/buchhaltungs-service/obj/Debug/net8.0/buchhaltungs-service.dll
/buchhaltungs-service/obj/Debug/net8.0/buchhaltungs-service.GeneratedMSBuildEditorConfig.editorconfig
/buchhaltungs-service/obj/Debug/net8.0/buchhaltungs-service.genruntimeconfig.cache
/buchhaltungs-service/obj/Debug/net8.0/buchhaltungs-service.sourcelink.json
